.clair_report .o_report_layout_boxed .page > table:not(.o_main_table) tr td:last-child {
    background-color: white;
}
.clair_report h2{
    font-size:14pt;
    font-weight: bolder;
}
.clair_report h3{
    font-size:12pt;
    font-weight: bolder;
}
.clair_report h4{
    font-size:11pt;
    font-weight: bolder;
}
.clair_report .o_boxed_footer, .o_boxed_header, .o_report_layout_boxed{
    font-size:11pt;
}
.clair_report .colisage th{
    font-size:11pt;
}
.clair_report .colisage td{
    font-size:11pt;
    padding: 0;
    padding-left:0.3em;
    padding-right:0.3em;
}
// .clair_report .o_report_layout_boxed table tbody tr.o_line_section td, .clair_report .o_report_layout_boxed table tbody tr.o_line_note td, .clair_report .o_report_layout_boxed table tbody tr.is-subtotal td {
//     border-top: 0px solid #495057;
//     border-bottom: 0px solid #495057;
// }

.clair_report table tbody tr.o_line_section td, .clair_report table tbody tr.o_line_note td, .clair_report table tbody tr.is-subtotal td {
    border-top: 0;
    border-bottom: 0;
}


.clair_report .table-sm .o_line_note td {
    padding: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
    // background-color: Gainsboro;
}

.clair_report .table-sm th, .table-sm td {
    padding: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.clair_report .table-sm th {
    padding: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    white-space: nowrap;
}

.o_report_layout_boxed table thead tr th {
    text-transform: none;
}

.clair_report .situation{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size:18pt;
    font-weight: bolder;
    border: 2px solid;
    text-align: center;
}
  
.planning_chantier{
    font-size: 7pt;
}

.planning_chantier td{
    font-size: 7pt;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.planning_chantier th{
    font-size: 6pt;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}




.clair_report .table{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}


//Cela s'applique aux enfants et petit-enfants (thead, tbody, th et td)
.clair_report .table > :not(caption) > * > *{
    border-bottom-width:0;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem; // haut droite bas gauche;
}

.clair_report .table th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem; // haut droite bas gauche;
    padding-left: 0.5rem;
    padding-right: 0.5rem;


}

.clair_report .table td{
    border-right: 1px solid black;
    border-left: 1px solid black;
    //padding: 0.1rem 0.5rem 0.1rem 0.5rem; // haut droite bas gauche;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.clair_report table:not(.o_ignore_layout_styling) td:last-child {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.clair_report table:not(.o_ignore_layout_styling) td:first-child {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.o_table_standard table:not(.o_ignore_layout_styling) th:last-child, .o_table_standard table:not(.o_ignore_layout_styling) td:last-child {
  padding-right: 0.5rem;
}

.o_table_standard table:not(.o_ignore_layout_styling) th:first-child, .o_table_standard table:not(.o_ignore_layout_styling) td:first-child {
  padding-left: 0.5rem;
}


.clair_report td{
    font-size:10pt;
}
.clair_report h2{
    font-size:13.5pt;
    font-weight: bolder;
}
.clair_report td.noborder{
    // border: 1pt solid green !important;
    border: none !important;
}
.clair_report table.noborder{
    // border: 1pt solid green !important;
    border: none !important;
}


//Couleur des sections et sous-totaux
.o_line_section{
    background-color: #434445 !important;
}
.table .o_line_section td span {
    color: white !important;
    font-weight: bolder !important;
}
.is-subtotal{
    background-color: #e7e7e7 !important;
}
.table .is-subtotal td {
    font-weight: bolder !important;
}

// .o_line_note{
//     background-color:blueviolet !important;
//     color:orange !important;
// }