// body {
//     line-height: 1.1;
// }

// .table-sm th, .table-sm td {
//     padding: 0.1rem;
// }

.white_space_normal{
    white-space: normal !important;
}

.o_form_view .o_td_label .o_form_label:not(.o_status), .o_form_view .o_checkbox_optional_field > .o_form_label {
    min-height: 0px;
}

.o_form_label{
    white-space: nowrap;
}


//Pour corriger bug avec sticky_header_tree_and_form_view
.o_list_view .o_optional_columns_dropdown_toggle {
    z-index: 999 !important;
    padding-right: 10px;
}
