.planning_chantier{
    margin:5pt;
}

.planning_chantier .btn{
    margin-right:5pt;
    margin-top:5pt;
    margin-bottom:5pt;
}

.planning_chantier .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.planning_chantier h2{
    margin-top:10pt;
}


.planning_chantier table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    background-color: white;
}

.planning_chantier th {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white !important;
    background-color: black !important;
    font-weight: bold;
    box-sizing: border-box;
}

/* Règle spécifique pour thead */
.planning_chantier thead th {
    position: relative;
    display: table-cell !important;
}

.planning_chantier th div {
    background-color: black !important;
    height: 100%;
    padding: 2px;
    margin: 0;
    color: white !important;
    font-weight: bold;
}

.planning_chantier td {
    border: none;
    border-top: 1px solid gray;
    padding: 0;
}

.planning_chantier tr {
    background-color: white;
}



.planning_chantier .buttons table{
    border: 0;
}
.planning_chantier .buttons td{
    border: 0;
}

.planning_chantier .alerte{
    // color:red;
    cursor: pointer;
    font-size:14pt;
}

.planning_chantier .link{
    cursor:pointer;
}


